
{:config-in-call {clojure.core.matrix/abs {:ignore [:unresolved-symbol]} ;abs symbol works in core.matrix but linter throws error
                  }
 :linters {:missing-else-branch {:level :off}
           :redundant-do {:level :off}
           :refer-all {:level :off}

           :unused-namespace {:level :off}
           :unused-referred-var {:level :off}
           :unused-binding {:level :off}
           :clojure-lsp/unused-public-var {:level :off}
           :namespace-name-mismatch {:level :off}
           :inline-def {:level :off}}
 :lint-as {jaxank.JaxExtension/deflet clojure.core/let
           jaxank.JaxExtension/maplet clojure.core/let
           ghostwheel.core/>defn clojure.core/defn
           ghostwheel.core/>fdef clojure.core/defn
           ghostwheel.core/>defn- clojure.core/defn-}}