{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        net.mikera/core.matrix {:mvn/version "0.63.0"}
        jaxank/crazy-cool-plugin {:mvn/version "0.0.9"}
        org.clojure/math.numeric-tower {:mvn/version "0.0.5"}
        net.mikera/vectorz-clj {:mvn/version "0.48.0"} 
        neovim/neovim {:mvn/version "0.0.1"} ; Added real dependency for testing
        jaxank/magic-lib {:mvn/version "0.1.0"} ; Mock jaxank dependency for testing
        gnl/ghostwheel {:mvn/version "0.3.9"}}

 :aliases
 {:test
  {:extra-paths ["test"]
   :extra-deps {org.clojure/test.check {:mvn/version "1.1.1"}
                io.github.cognitect-labs/test-runner
                {:git/tag "v0.5.1" :git/sha "dfb30dd"}}}
  :build {:deps {io.github.clojure/tools.build
                 {:mvn/version "0.9.6"}
                 slipset/deps-deploy {:mvn/version "0.2.0"}}
          :ns-default build}
  :jaxank-test ;; Adding an alias for potentially testing jaxank libraries or features
  {:main-opts ["-m" "jaxank.test-runner"]}}}
